<main class="main">
    <div class="section-container">
        <section class="card shadow">
            <div class="wrapper">
                <div class="card-content">
                    <div class="card-content-description">
                        <h1 class="name">Melquiades <span>Bustamante</span></h1>
                        <p>Software developer</p>
                    </div>
                    <ul class="social-media">
                        <li>
                            <a href="https://www.google.com/" target="_blank">
                                <img src="../../../assets/img/icons-socialmedia/facebook.svg" alt="facebook">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/" target="_blank">
                                <img src="../../../assets/img/icons-socialmedia/github.svg" alt="github">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/" target="_blank">
                                <img src="../../../assets/img/icons-socialmedia/gmail.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/" target="_blank">
                                <img src="../../../assets/img/icons-socialmedia/linkedin.svg">
                            </a>
                        </li>
                        <li>
                            <a href="https://www.google.com/" target="_blank">
                                <img src="../../../assets/img/icons-socialmedia/llamada.svg">
                            </a>
                        </li>
                    </ul>
                </div>
                <figure>
                    <img src="../../../assets/img/melkia.png" alt="">
                </figure>
            </div> <!--.wrapper-->
        </section>
    </div>
    <div class="about-container">
        <section class="about shadow">
            <div class="wrapper">
                <h2>About me</h2>
                <p class="about-description">
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi non similique velit quasi reiciendis ipsa, quae necessitatibus incidunt unde voluptatum, quidem officia qui maxime expedita corrupti itaque nostrum repudiandae aperiam? reiciendis ipsa, quae necessitatibus incidunt unde voluptatum
                    
                </p>
                <button class="btn">Contact Me</button>
                <!-- <i class="fal fa-long-arrow-right"></i> -->
            </div>
        </section>
    </div>
</main>

