<section class="card">
    <div class="card-content">
        <h1 class="name">Melquiades <span>Bustamante</span></h1>
        <p>Software developer</p>
        <ul class="social-media">
            <li>MelkiaBustamante</li>
            <li>bonfil99melkia@gmail.com</li>
            <li>2215953097</li>
            <li>gitHub</li>
            <li>Linkedin</li>
        </ul>
    </div>
    <figure>
        <img src="" alt="">
    </figure>
</section>

<section class="about">
    <h2>About me</h2>
    <p class="about-description">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi non similique velit quasi reiciendis ipsa, quae necessitatibus incidunt unde voluptatum, quidem officia qui maxime expedita corrupti itaque nostrum repudiandae aperiam?
    </p>
    <input type="button" value="Contact">
</section>
