.project{
    padding: 2rem 1rem;
}
figure{
    margin: 0;
}
.project-info{
    color: #555555;
}
.project-info h1{
    font-size: 2rem;
    margin: 0;
    font-weight: bold;
}
.project-year{
    font-size: 1.4rem;
    color: #3f51b5;
}
.options{
    display: flex;
    justify-content: space-between;
}
.options .btn{
    flex: 0 0 calc(50% - 1rem);
    margin: 0;
    text-align: center;
    text-decoration: none;
}
@media (min-width: 768px){
    .project{
        display: flex;
        justify-content: space-around;
    }
    figure, .project-info{
        flex: 0 0 45%;
    }
    .project-info h1{
        font-size: 2.5rem;
        margin-bottom: 1rem;
    }
    .project-description{
        font-size: 1.7rem;
    }
}