.form-container{
    display: block; /*Resetear el display inherit del wrapper*/
    background-color: #e1e1e1;
    padding: 4rem 0;
}
form{
    max-width: 45rem;
    margin: 0 auto;
    background-color: #ffffff;
    padding: 3rem;
    box-shadow: 0 0 8px #575555;
}
.field{
    display: block;
    margin-bottom: 3rem;
}

@media (min-width: 768px){
    .inline{
        display: flex;
        justify-content: space-between;
    }
}
button{
    width: 100%;
}